<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Beard Me Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,900,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/tracking/build/tracking-min.js"></script>
    <script src="/tracking/build/data/face-min.js"></script>
    <script src="/tracking/build/data/mouth-min.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/angular-messages/angular-messages.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/angular-payments/lib/angular-payments.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script>

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
            

    </script>
    <script>
      Stripe.setPublishableKey('pk_test_zQxIsxthzU7akYx6q0c6hZrC');
    </script>
    <!--<script src="http://js.stripe.com/v1/" type="text/javascript"></script>-->
    <!--<script src="/angular-payments/lib/angular-payments.min.js"></script> -->
    <!--<script src="/angular-stripe/src/index.js"></script>-->
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" autoscroll='false' ui-view class="clearfix"></div>
<div id="beard-footer">
<h5 class="text-center">CONNECT WITH US</h5> 
<!-- <img class="social-icons" src="https://s3.amazonaws.com/beardmeup/social_icons.png"> -->
<div class = "social-share">
    <div class = "social-icon">
        <a href="https://twitter.com/intent/tweet?text=Check out Beard Me Up" class="twitter-share-button" data-count = "none">Tweet</a>
    </div>
    <div class = "social-icon">
        <div class="fb-share-button" data-href="https://beardmeup.co" data-layout="button"> </div>
    </div>

</div>
</body>
</html>
