<section id="user-profile" class="barber-bg">
	<div class='text-center user-profile'>
		<br>
		<h2>Hello, {{user.firstName}} {{user.lastName}}</h2>
		<h4>Welcome to your user page.</h4><br>
		<h5>EMAIL</h5> {{user.email}}<br><br>
		<h5>CONTACT</h5> {{address.phone}}<br><br>
		<h5>PRIMARY ADDRESS</h5> {{address.line1}}<br>
		{{address.city + "," + address.state + ' ' + address.zip}} 
		<br><br><br>
		<button class="btn bmu-bg-red" ng-click="openUserOrders()">View Your Orders</button>
		<button class="btn bmu-bg-red" ng-click="openUserInfo()">Modify Your Information</button><br><br>
	</div>
</section>