<!-- <nav class="navbar navbar-static-top">
    <div class="container"> -->
<!-- <nav> -->
<div id = "beardMenu">


    <img src = "https://s3.amazonaws.com/beardmeup/logo_2.png"></img>
    <ul>
     <!-- class="nav navbar-nav myNav"> -->
        <!-- Non-admin -->
        <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
            <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
        </li>

        <!-- Admin console -->
        <li ng-repeat = "item in adminItems" ng-show = "isSiteAdmin()">
            <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label}}</a>
        </li> 
        <li>
            <a ng-show="!user" ui-sref="login">User Login</a>
        </li>

        <li ng-click="open()" ng-show = "user"><span class="glyphicon glyphicon-shopping-cart"></span> </li>
        <li ng-show="user" class="welcome">
            <a ng-click="logout()">Logout</a>
        </li>
    </ul>

</div>
<!-- </nav> -->