<div id="edit-user" class="text-center">
  <h1>Let's Beard it On!</h1>
  <form class="form-horizontal" novalidate name="editUserForm">
  	<div>
  		<span class="formtitle">E-MAIL</span>
  		<input type="text" class = 'form-control' name="email" ng-model="newUser.email" required><br>
      <div ng-messages="editUserForm.email.$error" ng-hide="editUserForm.email.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter an email
        </div>
      </div>
  	</div>
  	<div>
  	<div>
  		<span class="formtitle">PASSWORD</span>
  		<input type="text" class = 'form-control' name="email" ng-model="newUser.password" required><br>
      <div ng-messages="editUserForm.email.$error" ng-hide="editUserForm.email.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter a password
        </div>
      </div>
  	</div>
  	<div>


  	<div>
  		<span class="formtitle">FIRST NAME</span>
  		<input type="text" class = 'form-control' name="firstName" ng-model="newUser.firstName" required><br>
      <div ng-messages="editUserForm.firstName.$error" ng-hide="editUserForm.firstName.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter a firstName
        </div>
      </div>
    </div>
    <div>
  		<span class="formtitle">LAST NAME</span>
  		<input type="text" class = 'form-control' name="lastName" ng-model="newUser.lastName" required><br>
      <div ng-messages="editUserForm.lastName.$error" ng-hide="editUserForm.lastName.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter a lastName
        </div>
      </div>
  	</div>
    <div class="formitem">
    <input type="checkbox" ng-model="newUser.role" value="storeOwner"> <span class="formtitle">I'M A VENDOR</div><br>
  	<br><br>	

  	<!-- 	CONTACT INFO<br>
  		<div>
  			ADDRESS LINE 1
  			<input type="text" name="line1" ng-model="newUser.primaryAddress[0].line1" required><br>
      	<div ng-messages="editUserForm.line1.$error" ng-hide="editUserForm.line1.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter an address
        	</div>
      	</div>
      <div>
  		<div>
  			ADDRESS LINE 2
  			<input type="text" name="address2" ng-model="newUser.primaryAddress[0].line2" ><br>
      </div>
  		<div>
  			CITY
  			<input type="text" name="city" ng-model="newUser.primaryAddress[0].city" required><br>
      	<div ng-messages="editUserForm.city.$error" ng-hide="editUserForm.city.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter a city
        	</div>
      	</div>
      </div>
  		<div>
  			STATE
  			<input type="text" name="state" ng-model="newUser.primaryAddress[0].state" required><br>
      	<div ng-messages="editUserForm.state.$error" ng-hide="editUserForm.state.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter a state
        	</div>
      	</div>
      </div>
      <div>
  			ZIP
  			<input type="text" name="zip" ng-model="newUser.primaryAddress[0].zip" required><br>
      	<div ng-messages="editUserForm.zip.$error" ng-hide="editUserForm.zip.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter a zip
        	</div>
      	</div>
      </div>
      <div>
  			PHONE
  			<input type="text" name="phone" ng-model="newUser.primaryAddress[0].phone" required><br>
      	<div ng-messages="editUserForm.phone.$error" ng-hide="editUserForm.phone.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter a phone number
        	</div>
      	</div>
      </div>
  	</div> -->
  	<button class="btn bmu-bg-red" ng-click="signup(newUser)" >Sign Up and Login</button><br><button ng-click="googleSignup()" class="btn bmu-bg-red google-signup" ><img src="https://s3.amazonaws.com/beardmeup/google_button.png" class='google-button-icon'>Google Sign-up</button>
  </form>
</div>