<div class="col-md-4"><h1>{{theProduct.name}}</h1>
	<img src={{theProduct.imageUrl}} >
	<br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<br><br><br>
<form style="display: block" class="form-horizontal addProduct" novalidate name="editProductForm" ng-submit="submitEdit()">
  NAME <input value="beard" type="text" name="name" ng-model="theProduct.name" required><br>
    <div ng-messages="theProductForm.name.$error" ng-hide="theForm.$pristine" role="alert">
      <div ng-message="required" class="alert alert-warning">Please enter a name </div>
    </div>
  <div class="formitem">DESCRIPTION<br>
  <textarea cols="80", rows="4" type="text" ng-model="theProduct.description" required></textarea><br></div>
  <div class="formitem">PRICE</div> <input class="priceform" type="number" ng-model="theProduct.price" required>USD<br>
  <div class="formitem">TYPE</div> <input type="radio" ng-model="theProduct.type" value="Beard" required>beard <input type="radio" ng-model="theProduct.type" value="Mustache">mustache<br>
  <div class="formitem">STOCK <input class="stockform" ng-model="theProduct.stock" type="number"></div>
  <div class="formitem">IMAGE URL<input class="imgUrl" type="text" ng-model="theProduct.imageUrl" required><br></div> 
  <div class="formitem">THUMBNAIL URL <input class="imgUrl" type="text" ng-model="theProduct.thumbnailUrl"><br></div>
  <div class="formitem">CUTOUT URL <input class="imgUrl" type="text" ng-model="theProduct.cutoutUrl"><br></div>
  <div class="formitem">ACTIVE <input type="checkbox" ng-model="theProduct.active" value="true"><br></div>
  <div class="formitem">COLORS <span ng-repeat="color in beardColors"><input type="checkbox" ng-model="theProduct.colors[color]" value="true">{{color}} </span><br></div>
  <div class="formitem">TAGS <input class="tagform" type="text" ng-model="theProduct.tags"><br>
  <br><br></div>
  <button type="submit" ng-disabled="newProductForm.$invalid">Update Product</button>
  <br>
  {{updateStatus}}
  <br>
  <br>
</form> 