<form class="form-horizontal addProduct" novalidate name="newProductForm" ng-submit="addProduct()">
  NAME <input type="text" ng-model="newProduct.name" required><br>
  DESCRIPTION <input type="text" ng-model="newProduct.description" required><br>
  PRICE <input type="number" ng-model="newProduct.price" required>USD<br>
  TYPE <input type="radio" ng-model="newProduct.type" value="Beard" required>beard <input type="radio" ng-model="newProduct.type" value="Moustache">moustache<br>
  STOCK <input type="number"><br>
  IMAGE URL <input type="text" ng-model="newProduct.imageUrl" required><br>
  THUMBNAIL URL <input type="text" ng-model="newProduct.thumbnailUrl"><br>
  CUTOUT URL <input type="text" ng-model="newProduct.cutoutUrl"><br>
  ACTIVE <input type="checkbox" ng-model="newProduct.active" value="true"><br>
  COLORS <span ng-repeat="color in colors"><input type="checkbox" ng-model="newProduct.theColors[color]" value="true">{{color}} </span><br>
  TAGS <input type="text" ng-model="tags"><br>
  <br><br>
  <input type="submit"  value="Submit">
</form> 