<head>
	<meta property="og:title" content="cool" />
	<meta property="og:type" content="articwhale" />
	<meta property="og:image" content="testing" />
	<!-- <meta property="og:url" content="testurl" /> -->
	<meta property="og:description" content="testdesc" />
</head>

<div class="clearfix single-product-view">
	<div class="container">
		<div class="col-md-6 text-center">
			<img class="preview-img" src="{{imageUrl()}}">
		</div>
		<div class="col-md-6 text-center">
			<h5>{{product.name}}</h5>
			<p class="price">{{product.price/100 | currency }}</p><br>
			<mustaches ng-show="areReviews" num-staches="averageRating"></mustaches>
			<h5 ng-show="areReviews" class='rating'>{{averageRating}} / 5</h5>
			<p class="product-description">{{product.description}}</p>
			<color-selector the-colors="product.colors" ng-model="color"></color-selector>
			<button class="btn bmu-bg-red add-to-cart" ng-click="addToCart()">Add To Cart</button>

			<div class = "social-share">
				<div class = "social-icon">
					<a href="https://twitter.com/intent/tweet?text=Check out the {{product.type}}: {{product.name}} from BeardMeUp.co" class="twitter-share-button"></a>
				</div>
				<div class = "social-icon">
			    	<div class="fb-share-button" data-href="{{window.location}}" data-layout="button_count"></div>
				</div>
			</div>




			<br> See all from <a ng-href="http://localhost:1337/store/{{product.user._id}}"> {{product.user.firstName + " " + product.user.lastName}} </a>
		</div>
	</div>
	<div class="gray-divider take-selfie" ng-if='!isMobile'>
		<h1>TRY THIS BEARD ON</h1>
		<button class="btn bmu-bg-red" id="beardmeup" ng-click="stream()">Beard Me Up!</button>
		<div ng-show="streaming" class='clearfix text-center'>
			<img id="cutout" src="{{cutoutUrl}}" >
			<video id="video-stream" width="640" height="480" autoplay></video>
			<img id='photo-preview' src=''><br>
			<canvas id="photo-canvas" width="640" height="480"></canvas>

			<button id="snap-photo" class='btn bmu-bg-red' ng-show = "!socialMedia"><span class="glyphicon glyphicon-camera" ng-click = "socialMedia = true;"></span></button>

			<div ng-show = "socialMedia" style = "margin-top: 20px;">
				<button class = "btn">Share on Facebook</button>
				<button class = "btn">Share on Twitter</button>
				
			</div>
<!-- 			<div class = "social-share" ng-show = "socialMedia">
				<div class = "social-icon">
					<a class="twitter-share-button"></a>
				</div>
				<div class = "social-icon">
			    	<div class="fb-share-button"></div>
				</div>
			</div> -->


			<br>
		</div>
	</div>

	<div class="gray-divider-spacer" id="selfie-spacer" ng-if='!isMobile'></div>


	<br><br><br><br>
	<h5 class="text-center">Reviews</h5>
	<p ng-hide="areReviews" class="text-center">There are no reviews... yet</p><br>
	<uib-carousel class="review-carousel" interval="3000" no-wrap="noWrapSlides">
      <uib-slide class="single-review" ng-repeat="review in reviews" >
      <br><br>
      	<mustaches num-staches="review.rating"></mustaches>
		<p class="review-text">{{review.content}}</p>
		<h5>- {{review.reviewer.firstName}} {{review.reviewer.lastName}}</h5>
      </uib-slide>
    </uib-carousel>
	<div class="text-center container" ng-show="loggedIn">
		<button ng-hide="alreadyReviewed" ng-click="toggleReviewForm()">Leave a review</button>
		<br><br>
		<form cname="reviewForm" ng-submit="submitReview()" ng-show="showReviewForm">
			<div>
				<mustaches-hover required ng-model="newReview.rating"></mustaches-hover>
			</div>
			<br>
			<div>
				<input class="form-control text-center" size="50" type="text" name="content" required ng-minlength="5" ng-model="newReview.content" placeholder="Review">
			</div>
			<br>
			<button ng-disabled="reviewForm.$invalid" type="submit" >Submit</button>
			<br>
		</form>
	</div>
</div>