$darkRed: #9e202b;
$lightGrey: #eeeded;
$mediumGrey: #a7a4a2;
$darkGray: #424341;

#beardMenu{
  margin: auto;
  ul{
    margin-left: -30px;
  }
  width:100vw;
  text-align: center;
  font-weight: 200;
  img{
    margin-top:30px;
    height: 20rem;
  }
  ul{
    padding-top: 2rem;
    
  }

  background-color: $darkGray;
  border-bottom: 4px solid $darkGray;
  //box-shadow: 1px 1px 14px -3px black;
  background-image: url('https://s3.amazonaws.com/beardmeup/espressowood_export.jpg');
  height: 300px;
  margin: auto;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  a {
    font-weight: 300;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 1rem;
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
    &.active {
      font-weight: 800;
      color: $darkRed;
    }
    &:hover {
      background: none;
      color: $darkRed;
    }
    &:focus {
      background: none;
    }
  }
  .glyphicon {
      color: white;
  }
}

#beard-footer{
  width: 100vw;
  border-top: 4px solid $darkGray;
  background-image: url('https://s3.amazonaws.com/beardmeup/espressowood_export.jpg');
  height: 90px;
  background-color: $darkGray;
  text-align: center;
//  box-shadow: -1px -1px 5px black;
  h5{
    color: white;
    font-weight: 300;
  }
}

navbar {

  display: block;
  background-color: $darkGray;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 5px -3px black;
  background-image: url('https://s3.amazonaws.com/beardmeup/espressowood_export.jpg');
  height: 250px;
  margin: auto;



  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: white;;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  li{
    display:inline;
  }
  .myNav{
    li{
      display: inline;
    }
  }
  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      font-weight:bold;
      color: $mediumGrey;
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

}

.social-icons{
  height: 20px;
}
