$darkRed: #9e202b;
$lightGrey: #eeeded;
$mediumGrey: #a7a4a2;
$darkGray: #424341;

#all-orders, #all-customers, #all-products{
	table{
		margin:auto;
		tr{
			th{
				text-align: center;
				padding-bottom: 1em;
				border-bottom: .2em solid black;
				a:hover{
					cursor: pointer;
					text-decoration: none;
				}
			}
			td{
				border-bottom: .1em solid black;
				padding-bottom:5px;
				padding-top:5px;
			}
			.unfulfilled{
				color:blue;
				font-weight: bold;
			}
			.overdue{
				color:red;
				font-weight: bold;
			}

		}
	}
	text-align: center;

	.order-head {
		margin: auto;
		text-align: center;
		margin: 5em;
	}
}

.filter-buttons {
	margin-bottom: 50px;
}


.addProduct input {
	text-align: left !important;
}

.modal-dialog{
	top: 50%;
}


#cart{
	vertical-align: middle;
	// position:absolute;
	padding:0 10%;
	text-align:center;
	.quantity{
		border: .183rem solid $darkGray;
		border-radius: 5px;
		// box-sizing:content-box;
		// padding-right:px;
	}
}

.whitebg{
	background-color: white;
}

.formitem{
	margin-top:10px;
}

.formtitle{
	font-weight:bold;
}

.imgUrl{
	width: 400px;
}

.priceform{
	width: 120px;
}

.stockform{
	width:80px;
}

//.btn-default, btn-success, btn-primary, btn-info, btn-warning, btn-danger{
//	border-radius: 0px !important;
//}

.bmu-bg-red{
	background-color: #9e202b;
	color: white;
}

.bmu-bg-red:hover {
	background-color: #c82b3c !important;
	color: white;
}

.bmu-bg-red:active, .bmu-bg-red:focus, .bmu-bg-red2 {
	background-color: #c82b3c !important;
	color: white;
}

//.form-control, input{
//	border-radius: 0px !important;
//}

.color-checkbox {
	padding-left: 30px;
}

.modal-contents{
	padding-top: 30px !important;
}

.add-products{
	margin: 60px;
}

.btn-wide{
	width: 300px;
}

.order-filter-subhead{
	margin-top: -40px; 
	margin-bottom: 50px;
}

.add-product-btn{
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: bold;
}

.add-product-btn:hover{
	cursor: pointer;
}

.filter-buttons{
	padding: 5px 40px;
	border: 1px solid white;
}

.homepage-img{
	height: 650px;
	margin-top: -10px;
	margin-left: -300px;
}
