$darkRed: #9e202b;
$lightGray: #eeeded;
$mediumGray: #a7a4a2;
$darkGray: #424341;
$openSans: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

#all-orders, #all-customers, #all-products{
	table{
		margin:auto;
		tr{
			th{
				text-align: center;
				padding-bottom: 1em;
				border-bottom: .2em solid black;
				a:hover{
					cursor: pointer;
					text-decoration: none;
				}
			}
			td{
				border-bottom: .1em solid black;
				padding-bottom:5px;
				padding-top:5px;
			}
			.unfulfilled{
				color:blue;
				font-weight: bold;
			}
			.overdue{
				color:red;
				font-weight: bold;
			}

		}
	}
	text-align: center;

	.order-head {
		margin: auto;
		text-align: center;
		margin: 5em;
	}
}


.addProduct input {
	text-align: left !important;
}

.modal-dialog{
	top: 50%;
}


#cart{
	vertical-align: middle;
	// position:absolute;
	padding:0 10%;
	text-align:center;
	.quantity{
		border: .183rem solid $darkGray;
		border-radius: 5px;
		// box-sizing:content-box;
		// padding-right:px;
	}
}

.whitebg{
	background-color: white;
}

.formitem{
	margin-top:10px;
}

.formtitle{
	font-weight:bold;
}

.imgUrl{
	width: 400px;
}

.priceform{
	width: 120px;
}

.stockform{
	width:80px;
}

//.btn-default, btn-success, btn-primary, btn-info, btn-warning, btn-danger{
//	border-radius: 0px !important;
//}

.bmu-bg-red{
	background-color: $darkRed;
	color: white;
}

.bmu-bg-red:hover {
	background-color: #c82b3c !important;
	color: white;
}

.bmu-bg-red:active, .bmu-bg-red:focus, .bmu-bg-red2 {
	background-color: #c82b3c !important;
	color: white !important;
}

.btn:focus, .btn:active{
	outline: 5px auto $darkRed !important;
}

//.form-control, input{
//	border-radius: 0px !important;
//}

.color-checkbox {
	padding-left: 30px;
}

.modal-contents{
	padding-top: 30px !important;
}

.add-products{
	margin: 60px;
}

.btn-wide{
	width: 300px;
}

.order-filter-subhead{
	margin-top: -40px; 
	margin-bottom: 50px;
}

.add-product-btn{
	margin-bottom: 50px;
	font-weight: bold;
}

.add-product-btn:hover{
	cursor: pointer;
}

.filter-buttons{
	background-color: white;
	color: $darkGray;
	padding: 5px 40px;
	border: 1px solid $darkRed;
}

#home-header{
	position: absolute;
	left: 0;
	display: block;
	margin-top: -10px;
	width: 100vw;
	height: 400px;
	overflow: hidden;
	background: $darkGray url(https://s3.amazonaws.com/beardmeup/homepage2.jpg) center no-repeat;
	background-size: 1700px auto;
	border-bottom: 10px solid $darkGray;
}

#home-spacer{
	height:400px;
}


body{
	font-family: 'Playfair Display', serif;
	font-weight: 300;
}

button{
	font-style: italic;
	border-radius: 0px !important;
	cursor: pointer;
}

table{
	font-family: $openSans;
	font-weight: 400;
	margin-bottom: 50px !important;
	margin-top: 50px !important;
}

#cart-icon {
	position: absolute;
	right: 120px;
	margin-left: 50px !important;
}

.gray-divider{
	position: absolute;
	margin-left: -120px;
	margin-top: -10px;
	height: 200px;
	background-color: $lightGray;
	width: 100%;
	text-align: center;
	h1{
		font-family: $openSans;
		font-weight: 300;
		font-size: 5rem;
		text-transform: uppercase;
		margin: 100px 0 30px 0;
	}
	border-bottom: 10px solid $darkGray;
	p{
		margin-top: -20px;
		font-size: 2rem;
		font-weight: bold;
	}
}

.gray-divider-spacer{
	height: 200px;
}

#all-customers{
	margin-top: -50px;
}

h1{
	text-align: center;
	font-family: $openSans;
	font-weight: 300;
	font-size: 7rems;
}

#submit-btn{
	padding: 10px 30px;
	margin-bottom: 50px;
}

#contact-title{
	font-size: 5rem;
}


