$darkRed: #9e202b;
$lightGrey: #eeeded;
$mediumGrey: #a7a4a2;
$darkGray: #424341;

#all-orders, #all-customers, #all-products{
	table{
		margin:auto;
		tr{
			th{
				text-align: center;
				padding-bottom: 1em;
				border-bottom: .2em solid black;
				a:hover{
					cursor: pointer;
					text-decoration: none;
				}
			}
			td{
				border-bottom: .1em solid black;
				padding-bottom:5px;
				padding-top:5px;
			}
			.unfulfilled{
				color:blue;
				font-weight: bold;
			}
			.overdue{
				color:red;
				font-weight: bold;
			}

		}
	}
	text-align: center;

	.order-head {
		margin: auto;
		text-align: center;
		margin: 5em;
	}
}

.filter-buttons {
	margin-bottom: 50px;
}



.addProduct input {
	text-align: left !important;
.modal-dialog{
	top: 50%;
}


#cart{
	vertical-align: middle;
	// position:absolute;
	padding:0 10%;
	text-align:center;
	.quantity{
		border: .183rem solid $darkGray;
		border-radius: 5px;
		// box-sizing:content-box;
		// padding-right:px;
	}
}
