
<form id="login-form" class="text-center" name="loginForm">
<h2 class="text-center">Hey, Fellow Beardo!</h2>
<br><br>
<form id="login-form" class="text-center" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    <div class="form-group">
        <label class="formtitle" for="email">EMAIL</label>
        <input type="text" class="form-control text-center" ng-model="login.email"id="email" placeholder="Enter email">
    </div>
    <br>
    <div class="form-group">
        <label class="formtitle" for="login-password">PASSWORD</label>
        <input type="password" ng-model="login.password" class="form-control text-center" id="login-password" placeholder="Password">
    </div>
    <br>
    <button ng-click="sendLogin(login)" class="btn bmu-bg-red">Sign In</button>
    <br><br><br>
    <p class='text-italic'>If you haven't signed up yet, click the button below.</p>
    <button ng-click="signup()" class="btn btn-default">Create Account</button>
    <br><br>
</form>