<div class="clearfix modal-contents add-products">
  <h1 style="margin-top: -20px">Edit Customer</h1><br><br>
  <form class="form-horizontal add-product" novalidate name="theCustomerForm" ng-submit="submitEdit()">

    <div class="formitem"><span class="formtitle">FIRST NAME</span> <br>
      <input name="first-name" class="form-control" type="text" name="name" ng-model="theCustomer.firstName" required><br>
      <div ng-messages="theCustomerForm.first-name.$error" ng-hide="!theCustomerForm.first-name.$dirty" role="alert">
        <div ng-message="required" class="alert alert-warning">Please enter a first name.</div> 
      </div>
    </div>

    <div class="formitem"><span class="formtitle">LAST NAME</span> <br>
      <input name="last-name" class="form-control" type="text" name="name" ng-model="theCustomer.lastName" required><br>
      <div ng-messages="theCustomerForm.last-name.$error" ng-hide="!theCustomerForm.last-name.$dirty" role="alert">
        <div ng-message="required" class="alert alert-warning">Please enter a last name.</div> 
      </div>
    </div>

    <div class="formitem"><span class="formtitle">EMAIL</span> <br>
      <input name="last-name" class="form-control" type="text" name="name" ng-model="theCustomer.email" required><br>
      <div ng-messages="theCustomerForm.email.$error" ng-hide="!theCustomerForm.email.$dirty" role="alert">
        <div ng-message="required" class="alert alert-warning">Please enter a last name.</div> 
      </div>
    </div>
<!-- 
    <div class="formitem"><span class="formtitle">DESCRIPTION</span><br>
      <textarea name="description" class="form-control" cols="80", rows="4" type="text" ng-model="theCustomer.description" required></textarea><br>
        <div ng-messages="theCustomerForm.description.$error" ng-hide="theCustomerForm.description.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter a description.
        </div>
      </div>
    </div>
    
    <div class="formitem"><span class="formtitle">PRICE</span><input class="form-control priceform" type="number" name="price" ng-model="theCustomer.price" required><br>
      <div ng-messages="theCustomerForm.price.$error" ng-hide="theCustomerForm.price.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter a price.
        </div>
      </div>
    </div>

    <div class="formitem"><span class="formtitle">TYPE</span><br>
      <input type="radio" ng-model="theCustomer.type" value="Beard" required> beard <input style="margin-left: 10px;" type="radio" ng-model="theCustomer.type" value="Mustache"> mustache
    </div><br>
    
    <div class="formitem"><span class="formtitle">STOCK</span> <input name="stock" class="form-control stockform" ng-model="theCustomer.stock" type="number" required>
      <div ng-messages="theCustomerForm.stock.$error" ng-hide="theCustomerForm.stock.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter initial stock levels.
        </div>
      </div>
    </div><br>
    
    <div class="formitem"><span class="formtitle addtoptitle">IMAGE URL</span><input class="form-control imgUrl" type="text" ng-model="theCustomer.imageUrl" required></div><br>
    
    <div class="formitem"><span class="formtitle">THUMBNAIL URL</span> <input class="form-control imgUrl" type="text" ng-model="theCustomer.thumbnailUrl"><br></div>
    
    <div class="formitem"><span class="formtitle">CUTOUT URL</span> <input class="form-control imgUrl" type="text" ng-model="theCustomer.cutoutUrl"><br></div>
    
    <div class="formitem"><input type="checkbox" ng-model="theCustomer.active" value="true"> <span class="formtitle">ACTIVE</div><br>
    
    <div class="formitem"><span class="formtitle">COLORS</span><br> 
    <span class="color-checkbox"  ng-repeat="color in colors"><input type="checkbox" ng-model="theCustomer.colors[color]" value="true">  {{color}}   </span></div><br>
    
    <div class="formitem"><span class="formtitle">TAGS </span><input class="form-control tagform" type="text" ng-model="theCustomer.tags"></div><br><br><br> -->
    
    <button type="submit" class="btn bmu-bg-red" ng-disabled="theCustomerForm.$invalid">Update Customer </button>
    <br>
    {{updateStatus}}
    <br>
    <br>
  </form> 
</div>
