<div id = "all-products">
	<table class = "center">

		<div class = "btn-group filter-buttons">
			<button ng-click="orderFilter = 'all'" class="btn btn-primary">All</button>
	  		<button ng-click="orderFilter = 'beard'" type="button" class="btn btn-primary">Beards</button>
			<button ng-click="orderFilter = 'mustache'" type="button" class="btn btn-primary">Mustaches</button>
		</div>
		<tr>
				<th><a ng-click="sortType = 'sku'; sortReverse=!sortReverse">SKU</a></th>
				<th><a ng-click="sortType = 'name'; sortReverse=!sortReverse">NAME</a></th>
				<th><a ng-click="sortType = 'type'; sortReverse=!sortReverse">TYPE</a></th>
				<th><a ng-click="sortType = 'colors'; sortReverse=!sortReverse">COLORS</a></th>
				<th></th>
		</tr>

		<tr ng-repeat = "(index, product) in allProducts | orderBy:sortType:sortReverse" ng-show = "product.type.toLowerCase() === orderFilter || orderFilter === 'all'">
			<td class = "col-xs-3"><button>{{product._id}}</button></td>
			<td class = "col-xs-4">{{product.name}}</td>
			<td class = "col-xs-2">{{product.type}}</td>
			<td class = "col-xs-3">Red, Green, Blue</td>
		</tr>
	</table>
</div>