<div id="edit-user" class="text-center">
  <h1>Edit User Profile</h1>
  <form class="form-horizontal" novalidate name="editUserForm">
  	<div>
  		<span class="formtitle">FIRST NAME</span><br>
  		<input class="form-control" type="text" name="firstName" ng-model="theUser.firstName" required><br>
      <div ng-messages="editUserForm.firstName.$error" ng-hide="editUserForm.firstName.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter a firstName
        </div>
      </div>
    </div>
    <div>
  		<span class="formtitle">LAST NAME</span><br>
  		<input class="form-control" type="text" name="lastName" ng-model="theUser.lastName" required><br>
      <div ng-messages="editUserForm.lastName.$error" ng-hide="editUserForm.lastName.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter a lastName
        </div>
      </div>
  	</div>
  	<div>
  		<span class="formtitle">E-MAIL</span><br>
  		<input class="form-control" type="text" name="email" ng-model="theUser.email" required><br>
      <div ng-messages="editUserForm.email.$error" ng-hide="editUserForm.email.$pristine" role="alert">
        <div ng-message="required" class="alert alert-warning">
          Please enter an email
        </div>
      </div>
  	</div>
  	<div>
  		<h3>PRIMARY ADDRESS</h3><br>
  		<div>
  			<span class="formtitle">ADDRESS LINE 1</span><br>
  			<input class="form-control" type="text" name="line1" ng-model="theUser.primaryAddress[0].line1" required><br>
      	<div ng-messages="editUserForm.line1.$error" ng-hide="editUserForm.line1.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter an address
        	</div>
      	</div>
      <div>
  		<div>
  			<span class="formtitle">ADDRESS LINE 2</span><br>
  			<input class="form-control" type="text" name="address2" ng-model="theUser.primaryAddress[0].line2" ><br>
      </div>
  		<div>
  			<span class="formtitle">CITY</span>
  			<input class="form-control" type="text" name="city" ng-model="theUser.primaryAddress[0].city" required><br>
      	<div ng-messages="editUserForm.city.$error" ng-hide="editUserForm.city.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter a city
        	</div>
      	</div>
      </div>
  		<div>
  			<span class="formtitle">STATE</span><br>
  			<input class="form-control" type="text" name="state" ng-model="theUser.primaryAddress[0].state" required><br>
      	<div ng-messages="editUserForm.state.$error" ng-hide="editUserForm.state.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter a state
        	</div>
      	</div>
      </div>
      <div>
  			<span class="formtitle">ZIP</span><br>
  			<input class="form-control" type="text" name="zip" ng-model="theUser.primaryAddress[0].zip" required><br>
      	<div ng-messages="editUserForm.zip.$error" ng-hide="editUserForm.zip.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter a zip
        	</div>
      	</div>
      </div>
      <div>
  			<span class="formtitle">PHONE</span>
  			<input class="form-control" type="text" name="phone" ng-model="theUser.primaryAddress[0].phone" required><br>
      	<div ng-messages="editUserForm.phone.$error" ng-hide="editUserForm.phone.$pristine" role="alert">
        	<div ng-message="required" class="alert alert-warning">
          	Please enter a phone number
        	</div>
      	</div>
      </div>
  	</div><br><br> 
  	<button ng-click="updateInfo(theUser)" class='btn bmu-bg-red'>Save All Changes</button>
  	<button ng-click="restore()" class='btn bmu-bg-red'>Undo Changes</button>
  </form>
</div>